.filtersContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 84px auto 0;
    padding: 0 138px;
    width: 100%;
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray);
    display: flex;
    flex-direction: column;
    gap: 8px;
}