.filtersContainer {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 16px;
    margin: 84px auto 0;
    padding: 0 138px;
    width: 100%;
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray);
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 204px;
}

.input {
    padding: 12px 24px;
    max-width: 160px;
    box-sizing: border-box;
    border: none;
    background: transparent;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.input:focus {
    outline: none;
}

.input:first-child {
    border-right: 1px solid var(--gray-light);
}

.input::placeholder {
    color: var(--main);
}

.input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputsGroup {
    display: flex;
    border-radius: 12px;
    background-color: var(--inputs);
    overflow: hidden;
    height: 44px;
}

.searchButton {
    padding: 12px;
    background-color: var(--button);
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    cursor: pointer;
    transition: all 0.2s ease;
    min-width: 156px;
    box-sizing: border-box;
    align-self: flex-end;
    outline: none;
    transform: scale(1);
}

.searchButton:hover,
.searchButton:focus {
    background-color: var(--button-hover);
}

.searchButton:active {
    transform: scale(0.98);
    background-color: var(--button-hover);
}

.searchButton:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    transform: scale(1);
}