.pageContainer {
    margin: 0 auto;
    padding: 84px 120px 104px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 40px 72px;
    grid-template-areas:
        "image info"
        "form info";
}

.imageContainer {
    grid-area: image;
    width: 640px;
    height: 512px;
}

.carImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 19px;
}

.carInfo {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 68px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}

.locationIcon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.location {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.mileage {
    margin-left: 16px;
}

.price {
    margin-top: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--button);
}

.description {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
    margin-top: 32px;
}

.descriptionSections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 110px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sectionTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
}

.additionalInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.addInfo {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
    display: flex;
    align-items: center;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}